/* Importação da fonte externa */
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

/* Reset de estilos gerais */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Definição das variáveis de raiz */
:root {
    /* Fonte padrão */
    --font-primary: 'Monomaniac One', sans-serif;

    /* Variaves de cores */
    --color-primary: #0b0b0b;
    --color-secondary: #FDD73D;
    --color-tertiary:#8B8989;

    /* Tamanho de fonte */
    --size-small: 0.60rem;
    --size-medium: 0.80rem;
    --size-large: 1.5rem;
  }
  
  @media (max-width: 1080px) {
    body {
        display: grid;
        font-family: var(--font-primary);
        line-height: 1.5;
        color: var(--color-tertiary);
        background-color: var(--color-primary);
      }

    /* Cabeçalho */
    .cabecalho_logo {
      text-align: center;
      padding: 20px;
    }

    /* Conteúdo principal */
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      display: grid;
      //grid-template-columns: repeat(4, auto);
      grid-gap: 20px;
      background-image: url('/assets/Lyon-esquerda.png');
      background-repeat: no-repeat;
      background-position: left top, right top;
      background-size: auto, auto;
    }

    /* Explicação */
    .explication {
      text-align: center;
      margin-bottom: 20px;
    }

    /* Navegação */
    .apresentacao_buttons {
      list-style: none;
      display: grid;
      justify-content: center;
    }

    .apresentacao_buttons li {
      margin: 0 10px;
    }

    .link_discord,
    .link_whatsapp,
    .link_instagram {
      text-align: grid;
      display: flex;
      justify-content: center;
    }

    /* Imagens */
    .link_img {
      text-align: center;
      margin-top: 20px;
    }

    .link_img a {
      display: inline-block;
      margin: 0 10px;
    }

    /* Rodapé */
    .rodape {
      text-align: center;
      padding: 20px;
    }
  }

  