/* Importação da fonte externa */
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

/* Reset de estilos gerais */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Definição das variáveis de raiz */
:root {
    /* Fonte padrão */
    --font-primary: font-family: 'Monomaniac One', sans-serif;

    /* Variaves de cores */
    --color-primary: #0b0b0b;
    --color-secondary: #FDD73D;
    --color-tertiary:#8B8989;

    /* Tamanho de fonte */
    --size-small: 0.60rem;
    --size-medium: 0.80rem;
    --size-large: 1.5rem;
  }
  
  @media (max-width: 1080px) {
    body {
        font-family: var(--font-primary);
        line-height: 1.5;
        background-color: var(--color-primary);
      }
     
    .cabecalho_logo {
        display: block;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid: gap 20px;
        background-image: url('/assets/Lyon-esquerda.png');
        background-repeat: no-repeat;
        background-position: left top, right top;
        background-size: auto, auto;
}
  }

  